<style type="text/css">
    .height {
            height:40px !important;
    }
</style>

<div class="container">

<div class="page-header">
    <h1>Login <!-- <small></small> --></h1>
</div>

<!-- Registration form - START -->
<div class="container">
    <div class="row">

        <div class="">
            <div class="col-md-12">
                <div class="alert alert-danger" ng-show="vm.loginError!=''">
                    <span class="glyphicon glyphicon-remove"></span><strong>{{vm.loginError}}</strong>
                </div>
            </div>
        </div>

        <form role="form" name="loginForm">

            <div class="col-lg-6">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>

                <div class="form-group">
                    <label for="email">Enter Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control height" id="email" name="email" placeholder="Enter Email" ng-model="vm.loginDetails.email" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control height" id="password" name="password" placeholder="Enter Password" ng-model="vm.loginDetails.password" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                <input type="submit" name="submit" id="submit" value="Login" class="btn btn-info pull-right" ng-click="vm.login( loginForm.$valid )">

            </div>

        </form>

    </div>
</div>
<!-- Registration form - END -->

</div>