<style type="text/css">
    .height {
            height:40px !important;
    }
</style>

<div class="container">

<div class="page-header">
    <h1>Add Book <!-- <small></small> --></h1>
</div>

<!-- Registration form - START -->
<div class="container">
    <div class="row">

        <div class="">
            <div class="col-md-12">
                <div class="alert alert-success" ng-show="vm.addBookSuccess!=''">
                    <strong><span class="glyphicon glyphicon-ok"></span>{{vm.addBookSuccess}}</strong>
                </div>
                <div class="alert alert-danger" ng-show="vm.addBookError!=''">
                    <span class="glyphicon glyphicon-remove"></span><strong>{{vm.addBookError}}</strong>
                </div>
            </div>
        </div>

        <div class="well well-sm" ng-hide="vm.addBookError!='' || vm.addBookSuccess!=''"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>

        <form role="form" name="addBookForm" enctype='multipart/form-data'>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="title">Title</label>
                    <div class="input-group">
                        <input type="text" class="form-control height height" name="title" id="title" placeholder="Enter Title" ng-model="vm.bookDetails.title" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="author">Author</label>
                    <div class="input-group">
                        <input type="text" class="form-control height" id="author" name="author" placeholder="Enter Author" ng-model="vm.bookDetails.author" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="price">Cost Price</label>
                    <div class="input-group">
                        <input type="number" class="form-control height" id="price" name="price" placeholder="Enter Cost Price" step="1.00" ng-model="vm.bookDetails.price" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="sales_price">Sales Price</label>
                    <div class="input-group">
                        <input type="number" class="form-control height" id="sales_price" name="sales_price" placeholder="Enter Sales Price" step="1.00" ng-model="vm.bookDetails.sales_price" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <div class="input-group">
                        <input type="number" class="form-control height" id="quantity" name="quantity" placeholder="Enter Price" ng-model="vm.bookDetails.quantity" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                </div>

                <div class="col-lg-6">

                <div class="form-group">
                    <label for="category">Category</label>
                    <div class="input-group">
                        <select class="form-control height" id="category_id" name="category_id" ng-model="vm.bookDetails.category_id" required>
                                <option ng-selected="vm.bookDetails.category==undefined">Select Category</option>
                                <option ng-repeat="category in vm.categories" value="{{category.id}}">{{category.name}}</option>
                        </select>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <div class="input-group">
                        <textarea name="description" id="description" class="form-control" rows="5" ng-model="vm.bookDetails.description"></textarea>
                        <span class="input-group-addon"><!-- <span class="glyphicon glyphicon-asterisk"> --></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="image">Cover Image</label>
                    <div class="input-group">
                        <input type="file" class="form-control height" id="image" name="image" placeholder="Upload Book Cover" file-model="vm.bookDetails.image" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="book">Book</label>
                    <div class="input-group">
                        <input type="file" class="form-control height" id="book" name="book" placeholder="Upload Book" file-model="vm.bookDetails.book" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                <input type="submit" name="submit" id="submit" value="Add Book" style="width:25%" class="btn btn-info pull-right" ng-click="vm.addBook(addBookForm.$valid)">

            </div>
        </form>
        
    </div>
</div>
<!-- Registration form - END -->

</div>